@model web_platform.Models.SecurityIssuePost
@{
    ViewData["Title"] = "Create";
}
<h1>Create Security issue post</h1>
<body>
    <form action="/SecurityIssuePost/CreateSecurityIssuePost" method="post">
        <label style="float: left" for="Title">title</label>
        <input style="float: left; width: 100%" placeholder="Title" type="text" name="Title">
        <label style="float: left" for="IssueDescription">Description</label>
        <textarea style="float: left; width: 100%; height: 100px" name="IssueDescription"></textarea>
        <label style="float: left" for="IssueReproduction">Steps to reproduce</label>
        <textarea style="float: left; width: 100%; height: 100px" name="IssueReproduction"></textarea>
        <select class="form-control" name="componentType" onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value);">
            <option disabled selected>Select your option</option>
            <option value="package">Package</option>
            <option value="cms">CMS</option>
        </select>
        <script type="text/javascript" language="JavaScript">
            document.write('<select class="form-control" name="name" id="name"><option disabled selected>Select status</option></select>')
        </script>
        <input style="float: left; width: 100%" placeholder="Version" type="text" name="version">
        <input style="float:left" type="submit" name="submit" />
    </form>
</body>

