@model SecurityIssuePostViewModel
@using web_platform.Controllers
@{
    ViewData["Title"] = "Create";

}
<script>
    function dynamicdropdowncomponent(listindex) {
        const nameSelect = document.getElementById("cms")
        while (nameSelect.options.length > 0) {
            nameSelect.remove(0);
        }
        switch (listindex) {
            case "cms":
                nameSelect.options[0] = new Option("Select CMS", "");
                nameSelect.options[0].disabled = true;
                $('#cms').removeClass("d-none")
                $('#package').addClass("d-none");
                @foreach (web_platform.Data.Models.CMSComponent cms in ViewBag.MultipleCMS)
                {
                    <text>nameSelect.add(new Option("@cms.Name", "@cms.Name"));</text>
                }
                break;
            case "package":
                $('#cms').addClass("d-none")
                $('#package').removeClass("d-none")
                $('#CMSVersionNumber').addClass("d-none")
                break;
        }
        return true;
    }
    function dynamicdropdownversion(listindex) {
        const nameSelect = document.getElementById("CMSVersionNumber")
        while (nameSelect.options.length > 0) {
        nameSelect.remove(0);
        }
        switch (listindex) {
            case "Umbraco CMS":
                nameSelect.options[0] = new Option("Select Version", "");
                nameSelect.options[0].disabled = true;
                $('#CMSVersionNumber').removeClass("d-none")
                @foreach (web_platform.Data.Models.ComponentVersion umbracoCMSVersion in ViewBag.UmbracoCMSVersions)
                {
                    <text>nameSelect.add(new Option("@umbracoCMSVersion.VersionNumber", "@umbracoCMSVersion.VersionNumber"));</text>
                }
                break;
        }
        return true;
    }
    $(function () {
            function log(message) {
                $("<div>").text(message).prependTo("#log");
                $("#log").scrollTop(0);
            }

            $("#package").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "https://our.umbraco.com/webapi/packages/v1",
                        dataType: "xml",
                        data: {
                            pageIndex: 0,
                            pageSize: 20,
                            category: "",
                            query: request.term,
                            order: "Default"
                        },
                        success: function (data) { 
                            var arrayout = [];
                            var jsonText = JSON.stringify(xmlToJson($(data)[0]));
                            var jsonData = JSON.parse(jsonText);
                            for (var i = 0; i < jsonData.PagedPackages.Packages.Package.length; i++) {
                                arrayout.push(jsonData.PagedPackages.Packages.Package[i].Name["#text"])
                            }
                            console.log(arrayout);
                            response(arrayout);
                        }
                    });
                },
                minLength: 1,
                select: function (event, ui) {
                    log("Selected Item: " + ui.item.value);
                }
            });
        });
</script>
<h1>Create Security issue post</h1>

<form asp-controller="SecurityIssuePost" asp-action="Create" method="POST" autocomplete="off">

    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" name="Title" class="form-control" id="InputTitle" placeholder="Enter a descriptive title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IssueDescription">Description</label>
        <textarea asp-for="IssueDescription" name="IssueDescription" class="form-control" id="InputIssueDescription" placeholder="Insert a description of the issue" rows="4"></textarea>
        <span asp-validation-for="IssueDescription" class="text-danger"></span>
    </div>

    <select class="form-control mt-2" name="ComponentType" id="ComponentType" onchange="dynamicdropdowncomponent(this.options[this.selectedIndex].value);">
        <option disabled selected>Select your option</option>
        <option value="package">Package</option>
        <option value="cms">CMS</option>
    </select>
    <select class="form-control mt-2 d-none" name="cms" id="cms" onchange="dynamicdropdownversion(this.options[this.selectedIndex].value);"><option disabled selected>Select status</option></select>
    <select class="form-control mt-2 d-none" name="CMSVersionNumber" id="CMSVersionNumber"><option disabled selected>Select status</option></select>
    <input class="form-control mt-2 d-none" id="package" type="text" name="package" placeholder="Packages">
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}