@model List<SecurityIssuePostViewModel>
@{
    ViewData["Title"] = "VerifiedPosts";
}

<h1>VerifiedPosts</h1>

<div class="main">

    @foreach (SecurityIssuePostViewModel securityIssuePostViewModel in Model)
    {
        <div class="input-group mt-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Title</span>
            </div>
            <input type="text" class="form-control" aria-label="Title" value="@securityIssuePostViewModel.Title" disabled="disabled" />
        </div>

        <div class="input-group mt-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Component</span>
            </div>
            <input type="text" class="form-control" aria-label="Component" value="@securityIssuePostViewModel.CMSVersionNumber - @securityIssuePostViewModel.CMSComponentName" disabled="disabled" />
        </div>

        <div class="input-group mt-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Description</span>
            </div>
            <textarea class="form-control" disabled="disabled" rows="4">@securityIssuePostViewModel.IssueDescription</textarea>
        </div>
        <div class="input-group mt-3">
            <p>=====================================================================================================</p>
        </div>
    }
</div>