name: feature-push

on:
  push:
    branches: [ feature/*, features/* ]
 
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2 
      - name: Setup dotnet
        with: 
          dotnet-version: '3.1.x'
      - run: dotnet build web-platform
      - run: dotnet test XUnitTestUmbraco
